<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        
        body {
            display: flex;
            background-color:#dbc8d1;
            background:linear-gradient(45deg, #e66465, #9198e5);
            
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5">
                <div class="card">
                    
                    <div class="card-body">
                        <h5 class="card-title">Custom Model</h5>
                        <p class="card-text">We trained a custom neural network model for text prediction using an embedding layer, bidirectional LSTM layers, and a dense layer with softmax activation.</p>
                        <br>
                        <a href="/custom" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    
                    <div class="card-body">
                        <h5 class="card-title">Pretrained LLM</h5>
                        <p class="card-text">Developing a predictive text model using Langchain and Hugging Face, to anticipate the next word in a given context with state-of-the-art language understanding.</p>
                        <br>
                        <a href="#" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
